*{
    box-sizing: border-box;
}
body{
    background-color: black;
    height: 200vh;
}
div p{
    color: white;
}
.seguir{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    font-size: 40px;
    background-color: red;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    position: fixed;
    bottom: 30px;
    right: 30px;
}